* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
img {
    display: block;
    width: 400px;
    height: 600px;
    animation: fadeIn 2s ease-in;
    
}
